body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333; /* Dark background for better contrast */
  color: #fff; /* White text color */
  overflow: hidden; /* Prevent scrollbars */
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw; 
  height: 100vh;
}

.camera-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.camera-container {
  position: relative;
  width: 72px;
  height: 66px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.camera-button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 2;
}

.camera-button:hover {
  background-color: white;
}

.camera-button:hover .time-counter {
  color: black;
}

.progress {
  width: 120%; /* Outer circle size */
  height: 120%; /* Outer circle size */
  position: absolute;
  top: 49%; /* Center below button */
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg); /* Center and rotate to start from the top */
  z-index: 1; /* Ensure circle is beneath the camera button */
  overflow: visible; /* Allow circle to show outside of container */
}

.progress circle {
  fill: none;
  stroke: rgb(253, 0, 0); /* Stroke color */
  stroke-width: 12px; /* Stroke width */
  stroke-dasharray: 314; /* Circumference of the circle */
  stroke-dashoffset: 314; /* Start hidden */
  transition: stroke-dashoffset 0.5s ease-in-out; /* Smooth transition */
}

@keyframes progress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.display {
  width: 100vw;
  height: auto;
  background-color: #ddd;
  border: 2px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.display img,
.display video {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
}

.time-counter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
}

.button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 10%;
}

#videoElement {
  width: 100vw;
  height: 100vh;
  border: 2px solid #333;
  border-radius: 20px;
}

.upload-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.upload-button:hover {
  background-color: #004084;
}

#fileInput {
  display: none;
}

.switch-camera-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.switch-camera-button:hover {
  background-color: #186729;
}

.toggle-camera-button {
  position: absolute;
  top: 2%;
  right: 4%;
  margin-top: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
}

.toggle-camera-button:hover {
  background-color: rgb(109, 1, 1);
}

#closeDisplayButton {
  display: none;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
}

#closeDisplayButton:hover {
  background-color: rgb(109, 1, 1);
}
